body {
  background-color: skyblue;
}

h1 {
  color: white;
  background-color: black;
  justify-content: center;
  align-content: center;
  display: flex;
}

.logo {
  height: 300px;
  width: 100vw;
  background-color: blue;
}

.carousel {
  width: 500px;
  height: 500px;
  left: 50%;
  right: 50%;
}

.calendar-container {
  margin: 25px;
}
